<div class="container-fluid col-11">
  <div class="row">

    <!--Add book button-->
    <div class="col-6" appDir1>
      <button (click)="openNewBookDrawer()" nz-button nzType="default" style="margin-bottom: 10px">
        <i nz-icon type="plus-circle" theme="twotone"></i>New book
      </button>
    </div>

    <!--Display filter-->
    <div class="col-6">
      <button (click)="isGrid=false" nz-button nzType="default" class="float-right">
        <i nz-icon type="profile" theme="twotone" class="align-middle"></i>
      </button>
      <button (click)="isGrid=true" nz-button nzType="default" class="float-right" style="margin-right: 10px">
        <i nz-icon type="appstore" theme="twotone" class="align-middle"></i>
      </button>
    </div>

    <!--Add new book drawer-->
    <nz-drawer [nzClosable]="false" [nzVisible]="isDrawerVisible" nzPlacement="right" nzTitle="New Book"
               (nzOnClose)="closeNewBookDrawer()">
      <div class="col-12">
        <form [formGroup]="addLivreForm" (ngSubmit)="onSubmit()" nz-form>

          <nz-form-item>
            <!-- <nz-form-label nzFor="id">ID</nz-form-label> -->
            <nz-form-control>
              <input
                [ngClass]="{'border border-danger' : addLivreForm.get('id').invalid && addLivreForm.get('id').touched}"
                formControlName="id" nz-input name="id" placeholder="ISBN"><!--[(ngModel)]="newLivre.id"-->
            </nz-form-control>
            <!--<nz-form-explain *ngIf="addLivreForm.get('id').dirty && addLivreForm.get('id').errors">ID field is required!-->
            <div *ngIf="addLivreForm.get('id').invalid && addLivreForm.get('id').touched">
              <nz-form-explain *ngIf="addLivreForm.get('id').errors?.required" class="text text-danger">ID field is
                required!
              </nz-form-explain>
            </div>
          </nz-form-item>

          <nz-form-item>
            <!-- <nz-form-label nzFor="name">Name</nz-form-label> -->
            <nz-form-control>
              <input formControlName="name" nz-input name="name" placeholder="Title of the book">
              <!--[(ngModel)]="newLivre.name"-->
            </nz-form-control>
            <div *ngIf="addLivreForm.get('name').invalid && addLivreForm.get('name').touched">
              <small *ngIf="addLivreForm.get('name').errors?.required" class="text text-danger">Title field is
                required!
              </small>
              <small *ngIf="addLivreForm.get('name').errors?.minlength" class="text text-danger">Min length is 3
              </small>
              <small *ngIf="addLivreForm.get('name').errors?.title" class="text text-danger">Title not allowed</small>
            </div>
          </nz-form-item>

          <nz-form-item>
            <!-- <nz-form-label [nzSpan]="6" nzFor="id">ID</nz-form-label> -->
            <nz-form-control>
              <input formControlName="author" nz-input name="author" placeholder="Author">
              <div *ngIf="addLivreForm.get('author').invalid && addLivreForm.get('author').touched">
                <small *ngIf="addLivreForm.get('author').errors?.required" class="text text-danger">Author is reuired
                </small>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSpan]="6" nzFor="id">ID</nz-form-label> -->
            <nz-form-control>
              <nz-date-picker formControlName="publish_date" name="publish_date"
                              (ngModelChange)="onChangeDate($event)"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <!-- <nz-form-label [nzSpan]="6" nzFor="id">ID</nz-form-label> -->
            <nz-form-control>
              <nz-switch formControlName="status" name="status" [nzControl]="false" nzCheckedChildren="Disponible"
                         nzUnCheckedChildren="Epuisé"></nz-switch><!--[(ngModel)]="newLivre.status"-->
              <!--<nz-select name="status" [(ngModel)]="status" (ngModelChange)="onChangeStatus($event)">-->
              <!--<nz-option nzValue="Disponible" nzLabel="Disponible"></nz-option>-->
              <!--<nz-option nzValue="Epuisé" nzLabel="Epuisé"></nz-option>-->
              <!--</nz-select>              -->
            </nz-form-control>
          </nz-form-item>

          <!-- /** Static image **/ -->
          <!--<nz-form-item>-->
          <!--<nz-form-control>-->
          <!--<input-->
          <!--[ngClass]="{'border border-danger' : addLivreForm.get('image').invalid && addLivreForm.get('image').touched}"-->
          <!--formControlName="image" nz-input type="text" name="image" placeholder="Paste image URL here...">-->
          <!--</nz-form-control>-->
          <!--&lt;!&ndash;<nz-form-explain *ngIf="addLivreForm.get('id').dirty && addLivreForm.get('id').errors">ID field is required!&ndash;&gt;-->
          <!--<div *ngIf="addLivreForm.get('image').invalid && addLivreForm.get('image').touched">-->
          <!--&lt;!&ndash;<small *ngIf="addLivreForm.get('image').errors?.required" class="text text-danger">ID field is required!&ndash;&gt;-->
          <!--&lt;!&ndash;</small>&ndash;&gt;-->
          <!--</div>-->
          <!--</nz-form-item>-->

          <!-- /** PASSWORD Group **/ -->
          <!--<nz-form-item formGroupName="password">-->
          <!--<nz-form-control>-->
          <!--<input formControlName="pw" nz-input name="pw" type="password" placeholder="Password">-->
          <!--</nz-form-control>-->
          <!--<nz-form-control>-->
          <!--<input formControlName="coPw" nz-input name="coPw" type="password" placeholder="Confirm password">-->
          <!--</nz-form-control>-->
          <!--<div-->
          <!--*ngIf="addLivreForm.get('password').invalid && addLivreForm.get('password').get('coPw').value.length>0">-->
          <!--<small *ngIf="addLivreForm.get('password').errors?.password" class="text text-danger">Password does not-->
          <!--match-->
          <!--</small>-->
          <!--</div>-->
          <!--</nz-form-item>-->

          <!-- /** Uploaded image **/ -->
          <nz-form-item>
            <nz-form-control>
              <nz-upload formControlName="image" name="image" class="avatar-uploader"
                         nzName="avatar"
                         nzListType="picture-card"
                         nzAction="https://jsonplaceholder.typicode.com/posts/"
                         [nzBeforeUpload]="onBeforeUpload"
                         [nzShowUploadList]="false"
                         (nzChange)="onChange($event)">
                <ng-container *ngIf="!avatarUrl">
                  <i nz-icon type="plus"></i>
                  <div class="ant-upload-text">Upload book's image</div>
                </ng-container>
                <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" style="width: 80px; height: 100px;">
              </nz-upload>
            </nz-form-control>
          </nz-form-item>

          <div class="col-12">
            <button [disabled]="addLivreForm.invalid" nz-button nzType="primary" type="submit"
                    [nzLoading]="isLoadingOne">Add
            </button>
          </div>
        </form>
      </div>
    </nz-drawer>

    <!--Grid-->
    <!--<div *ngIf="isGrid" class="col-12" align="center">-->
    <div [hidden]="!isGrid" class="col-12">
      <div class="row">
        <div class="container col-3" *ngFor="let l of livres$ | async">
          <img [src]="l.image" alt="img" class="image" style="">
          <div class="overlay overlayleft">
            <div class="text" style="font-size: 14px">
              <span><b>{{l.name}}</b></span><br>
              <span><b>De: </b>{{l.author}}</span><br>
              <span><b>Le :</b>{{l.publish_date | date: 'dd/MM/yyy'}}</span><br>
              <span class="badge"
                    [ngClass]="{'badge-success': l.status=='Disponible', 'badge-secondary': l.status=='Epuisé'}">{{l.status}}</span><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Table-->
    <!--<div *ngIf="!isGrid" class="col-12">-->
    <div [hidden]="isGrid" class="col-12">
      <app-livres-table [livres$]="livres$ | async"></app-livres-table>

    </div>

  </div>
</div>
