cl0 {
  height: 100%;
}

.cl1 {
  background-color: #0b4c86;
  font-size: 40px;
  padding: 10px 70px;
  position: fixed;
  top: 55%;
  left: 40%;
  font-family: 'Abel', sans-serif;
  box-shadow: 5px 5px 10px #ffffff;
}

.cl1:hover {
  box-shadow: 7px 7px 15px #fff;
}
