.cl0 {
  padding: 10px;
  box-shadow: 5px 10px 18px  #002140;
  margin-bottom: 20px;
}
.cl1 {
  font-size: 40px;
  margin-left: 10px;
  position: absolute;
  top: 0px;
  font-family: 'Monoton', cursive;
}
