<!-- Table -->
<p-table [value]="livres$">
  <ng-template pTemplate="header">
    <tr>
      <th>ISBN</th>
      <th>Livre</th>
      <th>Name</th>
      <th>Author</th>
      <th>Publish date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-livre>
    <tr>
      <td>{{livre.id}}</td>
      <td>
        <nz-avatar *ngIf="livre.image" nz-popover [nzContent]="templ" [nzShape]="'circle'" [nzSize]="40"
                   [nzSrc]="livre.image"></nz-avatar>
        <ng-template #templ>
          <nz-avatar style="height: 60vh; width: 30vw;" [nzShape]="'square'" [nzSrc]="livre.image"></nz-avatar>
        </ng-template>
      </td>
      <td>{{livre.name}}</td>
      <td>{{livre.author}}</td>
      <td><span *ngIf="livre.publish_date">{{livre.publish_date | date: 'dd/MM/yyy'}}</span> </td>
      <td [ngStyle]="{'color' : livre.status =='Disponible' ? 'green' : 'red'}"><b>{{livre.status}}</b></td>
      <td style="text-align: center">
        <a [routerLink]="['edit', livre.id]" nz-button nzType="default" style="margin: 2px"><i nz-icon type="edit"
                                                                                               theme="outline"></i></a>
        <button (click)="deleteBook(livre.id)" nz-button nzType="danger" style="margin: 2px"><i nz-icon
                                                                                                type="delete"
                                                                                                theme="outline"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>


<!-- Test Table -->

<!--
<h3>Virtual Scroll - 250K Rows</h3>
<p-table [columns]="cols" [value]="virtualCars" [scrollable]="true" [rows]="20" scrollHeight="400px"
         [virtualScroll]="true" (onLazyLoad)="loadDataOnScroll($event)" [resizableColumns]="true"
         [lazy]="true" [totalRecords]="totalRecords" [virtualRowHeight]="34" [loading]="loading">

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field"  pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr style="height:20px">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

</p-table>
-->

